
/* Card frame styling*/

.cardContainer {
    margin-top: 3rem;;
    width: 420px;
    height: 250px;
    display: grid;
    grid-template-areas: 'main main main'
    'cardNumber cardNumber cardNumber'
    'name name cardType';
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: 1fr 50px 40px;
    box-shadow: 2px 6px 20px 6px gray;
    opacity: 60%;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.cardNumber {
    grid-area: cardNumber;
    text-align: left;
    margin-left: 1rem;
    font-size: 30px;
}

.name {
    grid-area: name;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-wrap: wrap;
    font-weight: bold;;
}

.cardType {
    grid-area: cardType;
    display: flex;
    justify-content: end;
}

.icon {
    height: 35px;
    text-align: right;
}


/* Prev/Next button group styling*/

.buttons {
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem
}

.buttons button {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40%;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.buttons button:hover {
    background-color: bisque;
    color: black;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px -2px rgba(79, 70, 229, 0.3);
}